[project]
name = "line-echo-bot"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "flask>=3.1.2",
    "gunicorn>=24.1.1",
    "line-bot-sdk>=3.22.0",
    "python-dotenv>=1.2.1",
]
